<div class="container-fluid" style="height: 100%" ng-controller="loginCtrl as login">
	<div class="form-group login-icon">
		<img src="../images/Capture.PNG">
	</div>
	<div class="regist-title">
		<p class="getStarted">Login</p>
		<p>Please Login with your Account.</p>
	</div>
	<div class="loginLayout">
		<div class="col-xs-offset-1 col-xs-10 col-sm-4 loginFormBG">
			<form name="loginForm">
				<div class="col-sm-12" ng-if="errorData" ng-repeat="error in errorData | filter: {field : '_ErrorSummary'}">
					<div class="row alert alert-warning registInfoMessage">{{ error.message }}</div>
				</div>
				<div class="form-group">
					<label for="userID">User ID:</label> <input type="text" ng-model="login.formData.loginName" class="form-control" id="userID" name="user" placeholder="Enter User ID" required>
				</div>
				<div class="form-group">
					<span class="label label-danger" ng-show="loginForm.user.$dirty && loginForm.user.$invalid"> * required ! </span>
				</div>
				<div class="form-group">
					<label for="password">Password:</label>
					<input type="password" name="pwd" ng-model="login.formData.password" class="form-control" id="password" placeholder="Enter password" required>
				</div>
				<div class="form-group">
					<span class="label label-danger" ng-show="loginForm.pwd.$dirty && loginForm.pwd.$invalid"> * required ! </span>
				</div>
				<div class="form-group">
				    <br/>
				</div>
				<div class="form-group">
					<button type="submit" class=" btn btn-block" ng-disabled="loginForm.user.$invalid || loginForm.pwd.$invalid" ng-click="login.userLogin()">Login</button>
				</div>
			</form>
		</div>

		<div class="form-group">
			<div class="col-xs-12 user-notice">
				<a>FORGET PASSWORD?</a>
				<span>DON'T HAVE AN ACCOUNT?</span>
				&nbsp;&nbsp;
				<a href="#/regist">
				    <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;&nbsp;CREATE NEW ACCOUNT
				</a>
			</div>
		</div>
	</div>
</div>
